<section
  style="
    background: url(../../assets/login/denim.png) repeat;
    width: 100vw;
    height: 100vh;
  "
>
  <div class="contenedor">
    <div class="contenedor-img"></div>
    <form>
      <h2>Datos de la sesión</h2>
      <div class="contenedor-input">
        <i class='bx bx-user'></i>
        <input type="text" name="correo" id="corre" placeholder="Correo">
      </div>
      <div class="contenedor-input">
        <i class='bx bx-lock-open-alt' ></i>
        <input type="password" name="password" id="password" placeholder="Contraseña">
      </div>
      <button type="submit">Ingresar</button>
    </form>
  </div>
</section>
