section
    display: flex
    align-items: center
    .contenedor
        width: 1000px
        margin: 0 auto
        display: flex
        height: 600px
        .contenedor-img,form
            width: 50%
        .contenedor-img
            background: url("../../assets/login/fondoAuto.png") 
        form
            display: flex
            align-items: center
            justify-content: center
            background: #fff
            border-radius: 70px
            h2
                color: #E76F51
        
